<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Home</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          Registration
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/applications" routerLinkActive="active">All applications</a>
      </li>
    </ul>
  </div>
</nav>
