<div class="row mt-5">
  <div class="col-4 mr-5">
    <h2 class="alert alert-dark text-center mb-3">List of applications</h2>
    <div class="list-group" *ngIf="!isFetching; else loading">
      <a
        *ngFor="let application of applications"
        class="list-group-item list-group-item-action"
        [routerLink]="[application.id]"
        routerLinkActive="active"
      >
        <span>{{ application.surname }} {{ application.name }}</span>
      </a>
    </div>
    <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
    </ng-template>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
