<div class="row">
  <div class="col-5">
    <h2 class="alert alert-primary text-center">{{ isEdit ? 'Edit application form' : 'New form' }}</h2>
    <form (ngSubmit)="sendForm()" #f="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel
          required
          minlength="2"
          #nameInput="ngModel"
        />
        <small
          *ngIf="nameInput.touched && nameInput.errors?.minlength"
          class="form-text invalid-form-text"
        >
          Your name should be at least 2 characters
        </small>
        <small
          *ngIf="nameInput.touched && nameInput.errors?.required"
          class="form-text invalid-form-text"
        >
          Enter your name
        </small>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          name="surname"
          ngModel
          required
          minlength="2"
          #surnameInput="ngModel"
        />
        <small
          *ngIf="surnameInput.touched && surnameInput.errors?.minlength"
          class="form-text invalid-form-text"
        >
          Your surname should be at least 2 characters
        </small>
        <small
          *ngIf="surnameInput.touched && surnameInput.errors?.required"
          class="form-text invalid-form-text"
        >
          Enter your surname
        </small>
      </div>
      <div class="form-group">
        <label for="patronymic">Patronymic</label>
        <input
          type="text"
          class="form-control"
          id="patronymic"
          name="patronymic"
          ngModel
          required
          minlength="2"
          #patronymicInput="ngModel"
        />
        <small
          *ngIf="patronymicInput.touched && patronymicInput.errors?.minlength"
          class="form-text invalid-form-text"
        >
          Your patronymic should be at least 2 characters
        </small>
        <small
          *ngIf="patronymicInput.touched && patronymicInput.errors?.required"
          class="form-text invalid-form-text"
        >
          Enter your patronymic
        </small>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          name="phoneNumber"
          appPhoneNumber
          ngModel
          required
          #phoneNumberInput="ngModel"
        />
        <small class="form-text font-weight-lighter">
          Format: (+996XXXYYYYYY)
        </small>
        <small
          *ngIf="phoneNumberInput.touched && phoneNumberInput.errors?.required"
          class="form-text invalid-form-text"
        >
          Enter your phone number
        </small>
        <small
          *ngIf="phoneNumberInput.touched && phoneNumberInput.errors?.phoneNumber"
          class="form-text invalid-form-text"
        >
          Phone number should contain 12 numbers without spaces
        </small>
      </div>
      <div class="form-group">
        <label for="jobOrStudyPlace">Job or study place</label>
        <input
          type="text"
          class="form-control"
          id="jobOrStudyPlace"
          name="jobOrStudyPlace"
          ngModel
          required
          minlength="3"
          #jobOrStudyPlaceInput="ngModel"
        />
        <small
          *ngIf="jobOrStudyPlaceInput.touched && jobOrStudyPlaceInput.errors?.required"
          class="form-text invalid-form-text"
        >
          Enter your job or place of study
        </small>
        <small
          *ngIf="jobOrStudyPlaceInput.touched && jobOrStudyPlaceInput.errors?.minlength"
          class="form-text invalid-form-text"
        >
          Your job or place of study should be at least 3 characters
        </small>
      </div>
      <div class="form-group">
        <p>T-shirt variant</p>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            id="male"
            name="tShirtVariant"
            value="male"
            ngModel
            required
            #tShirtVariant="ngModel"
          />
          <label for="male" class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            id="female"
            name="tShirtVariant"
            value="female"
            ngModel
            required
          />
          <label for="female" class="form-check-label">Female</label>
        </div>
        <small
          *ngIf="tShirtVariant.touched && tShirtVariant.errors?.required"
          class="form-text invalid-form-text"
        >
          Select your variant of T-shirt
        </small>
      </div>
      <div class="form-group">
        <label for="size">Size</label>
        <select
          class="form-control"
          id="size"
          name="size"
          ngModel
          required
          #sizeSelect="ngModel"
        >
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
        <small
          *ngIf="sizeSelect.touched && sizeSelect.errors?.required"
          class="form-text invalid-form-text"
        >
          Select your size
        </small>
      </div>
      <div class="form-group">
        <label for="comment">Your comment</label>
        <textarea
          class="form-control"
          id="comment"
          name="comment"
          ngModel
          required
          minlength="3"
          maxlength="300"
          (input)="onInputEvent()"
          #commentTextarea="ngModel"
        ></textarea>
        <div class="text-right">
          <small class="form-text font-weight-lighter">
            {{ commentLength }} / {{ commentMaxLength }}
          </small>
        </div>
        <small
          *ngIf="commentTextarea.touched && commentTextarea.errors?.required"
          class="form-text invalid-form-text"
        >
          Write your comment please
        </small>
        <small
          *ngIf="commentTextarea.touched && commentTextarea.errors?.minlength"
          class="form-text invalid-form-text"
        >
          Your comment should be at least 3 characters
        </small>
        <small
          *ngIf="commentTextarea.touched && commentTextarea.errors?.maxlength"
          class="form-text invalid-form-text"
        >
          Your comment should contain maximum 300 characters
        </small>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="f.invalid || isUploading"
      >
    <span *ngIf="!isUploading">
         {{ isEdit ? 'Edit' : 'Submit' }}
    </span>
        <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
    </span>
      </button>
    </form>
  </div>
</div>
