<div>
  <h2 class="alert alert-dark text-center mb-3">Details of application</h2>
  <div class="alert alert-primary">
    <p><span class="font-weight-lighter">Name: </span>{{ application.name }}</p>
    <p><span class="font-weight-lighter">Surname: </span>{{ application.surname }}</p>
    <p><span class="font-weight-lighter">Patronymic: </span>{{ application.patronymic }}</p>
    <p><span class="font-weight-lighter">Phone number: </span>{{ application.phoneNumber }}</p>
    <p><span class="font-weight-lighter">Job or study place: </span>{{ application.jobOrStudyPlace }}</p>
    <p><span class="font-weight-lighter">T-shirt variant: </span>{{ application.tShirtVariant }}</p>
    <p><span class="font-weight-lighter">Size: </span>{{ application.size }}</p>
    <p><span class="font-weight-lighter">Comment: </span>" {{ application.comment }} "</p>
    <div class="text-right">
      <a class="btn btn-success" [routerLink]="['edit']">Edit</a>&nbsp;
      <button
        type="button"
        class="btn btn-danger"
        (click)="onRemove()"
        [disabled]="isRemoving"
      >
        <span *ngIf="!isRemoving">
          Delete
        </span>
        <span *ngIf="isRemoving" class="spinner-border spinner-border-sm">
          <span class="sr-only">Removing...</span>
        </span>
      </button>
    </div>
  </div>
</div>
